# Project exclude paths
/venv/
#test 22

#test 22#erer er lk lrk flr
#test 22
#erer er lk lrk flr
#test 22
#erer er lk l#test 22
             ##erer er lk lrk flr
             ##test 22
             ##erer er lk l
#erer er lk lrk flr#test 22
                   ##erer er lk lrk flr#test 22
                                                          ##erer er lk lrk flr
#test 22
#erer er lk lrk flr#test 22
                   ##erer er lk lrk flr